/.venv
/.version
*.env
TPV_public/pgpass.conf
/env
*/migrations/*
*/__pycache__/*
*cpython*
*.log
TPV_public/__pycache__/settings.cpython-310.pyc
TPV_public/__pycache__/urls.cpython-310.pyc
TPV_public/__pycache__/views.cpython-310.pyc
logs/celery.log
logs/django.log
logs/models.log
logs/users.log
ProductsAPP/__pycache__/models.cpython-310.pyc
UsersAPP/__pycache__/models.cpython-310.pyc
UsersAPP/__pycache__/views.cpython-310.pyc
UsersAPP/migrations/0002_user_products.py
microsoft_credentials.json
