[Unit]
Description=celery worker daemon for public TPV
After=network.target

[Service]
User=root
Group=www-data
Restart=always
RestartSec=10
WorkingDirectory=/root/TPV_public/
ExecStart= ./env/bin/celery --app TPV_public worker -l info --pool solo


[Install]
WantedBy=multi-user.target
