[Unit]
Description=gunicorn daemon for public TPV
After=network.target

[Service]
User=root
Group=www-data
Restart=always
RestartSec=5
WorkingDirectory=/root/TPV_public
ExecStart= /root/TPV_public/env/bin/gunicorn --access-logfile - --error-logfile /root/TPV_public/logs/gunicorn-error.log --timeout 60 --workers 2 --preload --bind unix:/root/TPV_public/run/app.sock TPV_public.wsgi:application


[Install]
WantedBy=multi-user.target
