{% load i18n %}
{% load static %}


<div class="row">
    <div class="col-3">
    </div>
    <div class="col-7">
        
        <p class="h2 mt-2">
        Welcome to the NX customer portal.
        </p>

        <p class="h2 mt-5">
        Here you will find the latest version of our products from the POWER Inverter family and the BMS Platform. You will also have access to the datasheet, user manuals and all detailed product specification.
        </p>
        <p class="h2 mt-5">
        If you have any questions, our technical team will be at your service: <a href="mailto:info@nx-tech.com">info@nx-tech.com</a>
        </p>
        <p class="h2 mt-5">
        Thank you.
        </p>
        
    </div>
    <div class="col-2">
    </div>
    <p></p>
    <p></p>
    <p></p>
</div>


		